name: Verify

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    
    - uses: YosysHQ/setup-oss-cad-suite@v3
      with:
        python-override: true
#    - name: Set up Python 3.9
#      uses: actions/setup-python@v2
#      with:
#        python-version: 3.9

    - name: Install dependencies
      run: |
        #pip3 install -r requirements.txt
        tabbypip install -r requirements.txt
        echo "Python done !" && python3 --version && tabbypy3 --version


    - name: Verify with cocotb & icarus
      run: |
        tabbypy3 -m pytest register/tb
#       # Broken (with cocotb > 2.0 ?)
#       tabbypy3 -m pytest axis_fifo/tb
